/* autoprefixer grid: autoplace */
@import '~antd/dist/antd.dark.less';

.moveable-control {
  width: 8px !important;
  height: 8px !important;
  margin-top: -4px !important;
  margin-left: -4px !important;
  background: #fff !important;
  border: 1px solid #4af !important;
}
