/* autoprefixer grid: autoplace */
html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #040609;
  clear: both;
  font-family: 'Microsoft Yahei', serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

p {
  margin-bottom: 0.5em;
}

.clear {
  clear: both;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /*滚动条整体样式*/
 ::-webkit-scrollbar {
  width: 6px; /*竖向滚动条的宽度*/
  height: 6px; /*横向滚动条的高度*/
}
::-webkit-scrollbar-thumb {
  /*滚动条里面的小方块*/
  background: #666666;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  /*滚动条轨道的样式*/
  background: none;
  border-radius: 5px;
}
