client/node_modules/
server/node_modules/
package-lock.json
server/static/libs/GaugeChartv1.0.0/bundle.js
server/static/libs/
server/static/upload/
client/build/
server/public/libs/
server/public/upload/
