.root{
  width: 100%;
  height: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  padding: 48px 0;
}

.btnBox{
  margin-top: 16px;
}

.text{
  font-size: 32px;
  text-align: center;
  color: #fff;
  font-family: Everett, sans-serif;
}

.root section{
  min-width: 300px;
}