.myProjectBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.myProject {
  border-bottom: #2b2d32 1px solid;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  color: #92abcf;
  font-size: 16px;
  padding: 0 12px;
  margin: 12px 0;
}

.itemBox {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  flex-basis: 0;
  padding: 0 6px;
}

.projectItem {
  height: 137px;
  background: url(../../../../resources/images/project_item.png);
  border-radius: 4px;
  margin-bottom: 12px;
  background-size: 264px 137px;
  padding-top: 20px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  .toolBar {
    display: none;
  }
  &:hover {
    border: 1px dashed #3b50ff;
    .toolBar {
      display: block;
    }
  }
}

.projectItemSelected {
  border: 1px solid #3b50ff;
}

.toolBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3px;
  background: rgba(0, 0, 0, 0.3);
  text-align: right;
  > a {
    margin: 0 6px;
  }
}
