@import "../../../../resources/css/variable";

.root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  border-bottom: 1px solid rgb(73, 84, 103);
  line-height: 40px;
  font-size: 16px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  color: $textColor;
}

.screenBox{
  flex-grow: 1;
  overflow: auto;
  height: 100%;
  flex-basis: 0;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  // align-content: flex-start;
}

.item{
  position: relative;
  border-radius: 4px;
  width: 367px;
  overflow: hidden;
  cursor: pointer;
  background-color:#24364E;
  box-shadow: rgba(0, 0, 0, 0.27) 0 2px 3px 2px;
  flex-shrink: 0;
  .toolBar{
    display: none;
  }
}

.item:hover{
  cursor: pointer;
  .toolBar{
    display: block;
  }
}

.itemPre{
  width: 100%;
  height: 182px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  overflow: hidden;
}

.itemName{
  height: 48px;
  // background-color: #2b2d32;
  color: #FFF;
  padding:0 12px;
}

.updateTime{
  font-size: 12px;
  color: $textColor 
}

.toolBar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px;
  background:rgba(0,0,0,0.5);
  text-align: right;
  z-index: 2;
  a{
    color: $textColor;
    margin:0 6px ;
  }
  a:hover{
    color: $heightLightBgColor;
  }
}

.coverIcon{
  color: $textColor;
}

.coverIcon:hover{
  color: $heightLightBgColor;
}
