.layer {
  position: absolute;
  outline: none
}

.render{
  width: 100%;
  height: 100%;
  position: relative;
}

.loading{
  position: absolute; 
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
}