@import '../../resources/css/variable';

.iconLink {
  color: $textColor !important;
}

.iconLink:hover {
  color: $heightLightBgColor !important;
}

.iconLikDisabled {
  color: rgba(255, 255, 255, 0.2) !important;
}
.iconLikDisabled:hover {
  color: rgba(255, 255, 255, 0.2) !important;
}
