@import '../../resources/css/variable';

.iconLink {
  color: $textColor !important;
  &:hover {
    color: $heightLightColor !important;
  }
}

.iconLikDisabled {
  color: rgba(255, 255, 255, 0.2) !important;
  &:hover {
    color: rgba(255, 255, 255, 0.2) !important;
  }
}
