.left{
  /* width: 40px; */
  height: 100%;
  background-color: var(--sub-color);
  flex-shrink: 0;
  display: flex;
}

.category{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 16px;
  padding: 5px 0;
  margin: 5px;
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconSelected {
  color: var(--sub-color);
  background-color: var(--hover-color);
  border-radius: 4px;
}

.componentBox{
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  align-content: flex-start;
}

.components {
  height: 100%;
  width: 240px;
  background: var(--sub-color);
  border-left: #121212 1px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.close {
  /* position: absolute; */
  /* right: 10px; */
  cursor: pointer;
  flex-shrink: 0;
}

.libs{
  width: 90%;
}

.componentListTitle{
  display: flex;
  justify-content: space-between;
}