.projectListBox{
  width: 300px;
  height: 100%;
  padding: 12px;
  display:flex; 
  flex-direction:column;
}

.screenBox{
  flex-grow: 1;
   height: "100%";
   flex-basis:0;
   padding: 24px;
   background:#0F1724;
}