.root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-direction: alternate;
}

@keyframes loading {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}