:global {
  .ant-cascader-menu-item {
    color: #ccc;
  }
  .ant-message {
    z-index: 9999 !important;
  }
}

.layout {
  height: 100%;
  background: #0f1016;
  color: #e3e6ff;
}

.editor {
  height: 100%;
}
