@import "../../../../resources/css/variable.scss";

.bar{
  display: flex;
  height: 100%;
  // padding: 6px 0 0 6px;
}

.category{
  height: 100%;
  background: $mainColor;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.icon{
  font-size: 18px;
  padding: 5px 0;
  margin: 10px 5px;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textColor;
  cursor: pointer;
}

.iconSelected{
  color: $heightLightTextColor;
  background-color: $heightLightBgColor;
  border-radius: 4px;
}

.components{
  height: 100%;
  width: 240px;
  background: $subColor;
  border-left: $borderColor 1px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cateTitle{
  height: 36px;
  line-height: 36px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid $borderColor;
}

.close{
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.close:hover{
  color: #3b50ff;
}

.componentBox{
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  align-content: flex-start;
}

.componentImg{
  text-align: center;
  pointer-events: none
}

.componentView{
  width: 100%;
  height: 102px;
  background: #191b23;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  
}

.componentView:hover{
  border: 1px solid #3b50ff
}

.componentTitle{
  text-align: center;
  position: absolute;
  top: 68px;
  width: 100%;
}

.itemView{
  width: 100%;
  background: #191b23;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 6px;
  position: relative;
}

.toolBar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px;
  background: rgba(0, 0, 0, 0.3);
  text-align: right;
  display: none;
  >a{
    margin:0 6px ;
  }
}

.itemView:hover{
  border: 1px solid #3b50ff;
  .toolBar{
    display: block;
  }
}

.itemImgBox{
  display:flex;
  justify-content:center;
  align-items:center;
  :global(.ant-image-img){
    width: auto;
  }
}
